page-home {
    .fondo{
        background-image: url("../assets/img/fondo.jpg");
    }
    .fondo2{
        background-color: #63B7BD;
    }
    .fondo3{
        background-color: #63BD76;
    }
    .fondo4{
        background-color: #B8475A;
    }
}
